@page "/counter"

<h1>DogCat Viewer</h1>

<p>Lower Bound: <input @bind="lowerBound" /></p>
<p>Upper Bound: <input @bind="upperBound" /></p>

@if(numberList != null)
{
    <ul>
        @foreach(string item in numberList)
        {
            <li>@item</li>
        }
    </ul>
}

<button class="btn btn-primary" @onclick="PlayDogCat">Click me</button>

@code {
    private int lowerBound = 1;
    private int upperBound = 100;

    private string[] numberList;

    private void PlayDogCat()
    {
        //set the size of the list based on input bounds
        numberList = new string[upperBound - lowerBound + 1];
        //words to be used
        string firstWord = "dog";
        string secondWord = "cat";
        //multiples to be replaced with words
        int firstNumber = 2;
        int secondNumber = 7;
        
        //build list
        for(int i = 0; i < numberList.Length; i++)
        {
            string message = "";

            //check divisibility
            if(i+lowerBound % firstNumber == 0)
            {
                message += firstWord;
            }
            if(i+lowerBound % secondNumber == 0)
            {
                message += secondWord;
            }

            //add appropriate string
            if(message.Equals(""))
            {
                numberList[i] = "" + i;
            }
            else
            {
                numberList[i] = message;
            }

        }
    }
}
